@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');


body{
    font-family: Recursive;
}

.row{
    --bs-gutter-x: 0;
}

a{
    text-decoration: none;
}

.phone-mode{
    display: none;
}

.between{
    justify-content: space-between;
    display: flex;
}

.space-around{
    display: flex;
    justify-content: space-around;
}

.page-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.with-shadow{
    padding: 30px;
    box-shadow: 0 0 18px 0px;
    border-radius: 8px;
}

input.ng-invalid.ng-touched{
    border: solid 1px red;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #00000085;
    z-index: 3;
}

.overlay.show{
    display: flex;
}

@media (max-width:600px){
    
    .phone-mode{
        display: block;
    }
}
